
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 20vw;
    background-color: #D5C5E9;
    border-radius: 40px;
    display: grid;
    justify-content: center;
      
}
.p{
    font-size: larger;
    font-size: 2vw;
    margin-top: 3vw;
    color: black;
    text-align: center;
}
.button{
    background-color: #706fabc8;
    border-radius: 100px;
    border: none;
    margin-left: 1vw;
    padding: .5vw;
    width: 12vw;
    height: 5vw;
    box-shadow: 0px 0px 20px;
}
.butosss{
    margin: auto;
}